*{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    background-color: #e1e1fa;
    border: 8px solid #1d1e4c;

}

.content{
    max-width: 80%;
    display: flexbox;
    margin: 0 auto;
}

.main{
    display: flex;
    margin-top: 100px;
    align-items: flex-end;
    justify-content: space-evenly;
}

.main h1{
    font-size: 35px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}

.main h4{
    text-align: end;
    font-size: 20px;


}

.imgdiv, img{
    border-radius: 60px;
    overflow: hidden;
    height: 296px;
    
}
.aboutsect{
    margin-top: 50px;
}

.aboutsect h1{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #1d1e4c;
}

.aboutsect p{
    margin-bottom: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    text-justify: distribute;
    
}

.biosect h2{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #1d1e4c;
}

.biosect ul{
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 15px;
    color: #1d1e4c;
    line-height: 25px;
}